<div class="container" *ngIf="!user; else divElse">
  <div class="text-center">
    <div class="spinner-border text-center" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<ng-template #divElse>
  <app-user-card [user]="user"></app-user-card>
  <button
    class="btn btn-outline-info m-2"
    (click)="getAllUserPosts(user.id.toString())"
  >
    <i class="far fa-clipboard"></i> Posts
  </button>
  <a href="#" class="btn btn-outline-warning m-2"
    ><i class="far fa-eye"></i> Albums</a
  >
  <a href="#" class="btn btn-outline-primary m-2"
    ><i class="far fa-eye"></i> Todos</a
  >

  <app-table *ngIf="posts" [posts]="posts"></app-table>
</ng-template>
