<h3 class="mt-2">TODO's:</h3>
<hr />
<div class="col-sm-3 m-2">
  <div class="input-group mt-2">
    <input
      type="number"
      class="form-control"
      name="userId"
      [(ngModel)]="userId"
      placeholder="Id de usuario"
      (keyup.enter)="filterByUserId()"
      autocomplete="off"
    />

    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="filterByUserId()"
    >
      <i class="fas fa-search"></i>
      Filtrar
    </button>
  </div>
</div>

<button class="btn btn-outline-warning m-2" (click)="filterTodosByState()">
  <i class="fas fa-sort"></i> Filtrar Por Estado
</button>
<button class="btn btn-outline-info" (click)="filterTodosById()">
  <i class="fas fa-sort"></i> Filtrar Por Id
</button>

<div *ngIf="todos.length === 20" class="text-end">
  <button
    class="btn btn-outline-info m-2"
    (click)="paginationTodos(-1)"
    [disabled]="this.page === 1"
  >
    <i class="fas fa-arrow-left"></i> Anterior
  </button>

  <button
    class="btn btn-outline-info m2"
    (click)="paginationTodos(1)"
    [disabled]="this.page === 10"
  >
    Siguiente <i class="fas fa-arrow-right"></i>
  </button>
</div>
<app-table [todos]="todos"></app-table>
